{% extends 'base.html' %}

{% block head %}
<title>Create professional account</title>
{% endblock %}

{% block body %}
<form action="", method="">
    <a href="/">Login to account</a>
</form>
<form action="", method="">
    <a href="/create-client">Create a client</a>
</form>
<form action="">
    <input type="text" name="username" id ="username" placeholder="Username" />
    <input type="text" name="password" id="password" placeholder="Password" />
    <input type="submit" value="Create Account" id="btn_create_pro" />
</form>
{% endblock %}