{% extends 'client.html' %}

{% block head %}
<title> Client home page</title>
{% endblock %}

{% block content %}
<form action="", method="">
    <a href="/login-or-create">login/create</a>
</form>
<form action="", method="">
    <a href="/speak-to-professional">speak to professional</a>
</form>
<form action="", method="">
    <a href="/food-diary">Food Diary</a>
</form>
<form action="", method="">
    <a href="/search-for-recipe">Recipes</a>
</form>
<form action="", method="">
    <a href="/home-professional">Home page for professionals for testing purposes</a>
</form>
{% endblock %}