{% extends 'professional.html' %}

{% block head %}
<title>Professional home page</title>
{% endblock %}

{% block content %}
<form action="", method="">
    <a href="/login-or-create">profile</a>
</form>
<form action="", method="">
    <a href="/speak-to-client">Speak to clients</a>
</form>
<form action="", method="">
    <a href="/food-diary-select-client">Food Diary</a>
</form>
<form action="", method="">
    <a href="/search-for-recipe-professional">Recipes</a>
</form>
<form action="", method="">
    <a href="/">Client home page for testing purposes</a>
</form>
{% endblock %}